<!--
  [TODO]: Рекомендация (RESOLVED)
  Возможно стоит упаковать навигацию по объекту в геттер.
  Геттер также упростит тестирование.

  COMMENT:
  На текущий момент глобального мапинга, а локальный маппинг ради юнит теста будет мелочным
  и не верным решением. Назвать такое неверное решение можно local sugar syntax. Также
  привязка геттера может быть уже сомнительным решением со стороны производительности
  приложения. Глобальный мапинг если и будет делаться
  то выносится на уровень выше и локально не присутствует.

  Глобальный мапинг не требуется:
  1. Так как это не .NET сервер
  2. Данные приходят в типизированно-объектном формате, что просто замечательно!

  Поэтому принято глобальное решение работы с данными бекенда напрямую.
--><span
  [attr.title]="item?.snippet.publishedAt|amDateFormat:mf_datetime">{{item?.snippet.publishedAt|amDateFormat:mf_datetime}}</span>
